.modal-body label,
.modal-body input {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.modal-body p {
  margin-top: 0;
  font-size: 1rem;
}

.modal-body input {
  padding: 0.5rem;
  width: 100%;
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal-content {
  width: 400px;
}

.error {
  color: red;
}
.modal-footer .btn-primary {
    background-color: rgb(241, 44, 44);
    border-color: rgb(241, 44, 44);
  }