.logo img {
    width: 30%; /*establece un ancho del logo del 30% del ancho de la pantalla*/
    height: auto; /*ajusta automáticamente el alto en relación al ancho*/
    display: flex;
 }
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ec5b5b;
    background-color: #de3c4b;
    position: relative;
    display: flex;
    align-items: center;
}

.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: rgb(233, 97, 97);
    border-radius: 20px;
    color: rgba(240, 255, 255, 0.685);
}

.widget-container {
    position: absolute;
    right: 40px;
    top: 6px;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
